MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=pizzaria
MYSQL_USER=admin
MYSQL_PASSWORD=admin123

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

DATABASE_URL=mysql+pymysql://admin:admin123@localhost:3306/pizzaria

JWT_SECRET=change_this_secret